body{
  color: #fff;
  background:#000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.bigtext{
  text-align: center;
  position: absolute;
  top: 40%;
  text-shadow: 7px 4px #2e2e2e;
  font-size: 10vw;
  width: 100vw;
}
.git_footer{
  position: fixed;
  bottom: 0px;
  left: 50%;
}
.git_footer img{
  width: 20px;
  opacity:0.2;
}
.git_footer img:hover{
  opacity:1;
}
canvas{
  z-index: -1;
}
button{
  padding: 10px 110px;
  border-radius: 6px;
  background: #2e2e2e;
  border: none;
  color: #fff;
  cursor: pointer;
}
input{
  padding: 10px;
  background: #2e2e2e;
  color: #d1d1d1;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
button:hover{
  background: #3e3e3e ;
}
input:hover{
  background: #3e3e3e ;
}
input:focus{
  background: #5e5e5e ;
}
#controls{
  text-align: end;
margin-right: 37%;
}
